<!DOCTYPE html>
<html>
  <head>
    <title>TaskManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <li>
      <%= link_to "タスク登録", new_task_path %>
    </li>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
